.alert {
  -webkit-box-shadow: 0px 1px 3px -1px black;
  -moz-box-shadow: 0px 1px 3px -1px black;
  box-shadow: 0px 1px 3px -1px black;
  position: relative;
  display: block;
}

.alert.alert-sm {
  line-height: 32px;
  padding: 0 12px;
  font-size: 12px;
}

.alert.alert-sm > .alert-close {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  padding: 0 12px;
}

.alert.alert-sm > .alert-close:hover {
  background: rgba(255, 255, 255, 0.1);
}

.alert.alert-md {
  line-height: 50px;
  padding: 0 16px;
  font-size: 16px;
}

.alert.alert-md > .alert-close {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
  padding: 0 16px;
}

.alert.alert-md > .alert-close:hover {
  background: rgba(255, 255, 255, 0.1);
}

.alert.alert-lg {
  line-height: 66px;
  padding: 0 20px;
  font-size: 20px;
}

.alert.alert-lg > .alert-close {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
  padding: 0 20px;
}

.alert.alert-lg > .alert-close:hover {
  background: rgba(255, 255, 255, 0.1);
}
