.breadcrumb.breadcrumb-sm {
  list-style: none;
  padding: 0 18px;
  font-size: 12px;
  line-height: 45px;
}

.breadcrumb.breadcrumb-sm li:after {
  content: "/";
  font-weight: bold;
  padding: 12px;
}

.breadcrumb.dash li:after {
  content: " -";
}

.breadcrumb.breadcrumb-md {
  list-style: none;
  padding: 0 24px;
  font-size: 16px;
  line-height: 54px;
}

.breadcrumb.breadcrumb-md li:after {
  content: "/";
  font-weight: bold;
  padding: 16px;
}

.breadcrumb.dash li:after {
  content: " -";
}

.breadcrumb.breadcrumb-lg {
  list-style: none;
  padding: 0 30px;
  font-size: 20px;
  line-height: 63px;
}

.breadcrumb.breadcrumb-lg li:after {
  content: "/";
  font-weight: bold;
  padding: 20px;
}

.breadcrumb.dash li:after {
  content: " -";
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb > li > a {
  text-decoration: none;
}

.breadcrumb li:last-child:after {
  content: "";
}

.breadcrumb li:after,
.breadcrumb.dash li:after,
.breadcrumb li:last-child a {
  color: rgba(0, 0, 0, 0.38);
  text-decoration: none;
}
