.card {
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background: white;
  -webkit-box-shadow: 0px 1px 3px -1px black;
  -moz-box-shadow: 0px 1px 3px -1px black;
  box-shadow: 0px 1px 3px -1px black;
}

.card-header {
  padding: 0.8rem;
  border-bottom: 1px solid #d1d1d1;
}

.card-header-img {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.card-header-text {
  height: 40px;
}

.card-content {
  padding: 0.8rem;
}

.card-content-img {
  width: 100%;
}

.card-content-text {
  font-size: 14px;
  line-height: 1.4rem;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
