.form-wrap {
  padding: 0.4rem;
}

label.form {
  font-weight: bold;
}

input[type='text'].form,
select.form,
textarea.form {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  padding: 0.5rem;
}

.form.form-sm input[type='text'],
.form.form-sm select {
  height: 30px;
}

.form-sm {
  font-size: 14px;
}

.form-sm textarea {
  height: 120px;
}

input[type='radio'].form,
input[type='checkbox'].form {
  position: relative;
  margin-right: 5.6px;
}

.form.form-md input[type='text'],
.form.form-md select {
  height: 42px;
}

.form-md {
  font-size: 18px;
}

.form-md textarea {
  height: 168px;
}

input[type='radio'].form,
input[type='checkbox'].form {
  position: relative;
  margin-right: 7.2px;
}

.form.form-lg input[type='text'],
.form.form-lg select {
  height: 54px;
}

.form-lg {
  font-size: 22px;
}

.form-lg textarea {
  height: 216px;
}

input[type='radio'].form,
input[type='checkbox'].form {
  position: relative;
  margin-right: 8.8px;
}
