.nav {
  position: relative;
  display: table;
  width: 100%;
  clear: both;
  -webkit-box-shadow: 0px 1px 3px -1px black;
  -moz-box-shadow: 0px 1px 3px -1px black;
  box-shadow: 0px 1px 3px -1px black;
}

.navbar {
  list-style: none;
}

.right {
  float: right;
}

/*navbar*/
.nav-sm {
  padding: 0 6px;
  font-size: 12px;
}

.nav-sm .brand {
  padding-right: 0 6px;
  vertical-align: middle;
  display: inline-flex;
}

.nav-sm .nav-brand-img {
  width: 24px;
  height: 24px;
}

.nav-sm .nav-brand-text {
  font-size: 12px;
  padding: 0 0.5rem;
  line-height: 24px;
  font-weight: bold;
}

.nav-sm .btn {
  margin: auto 6px;
}

.nav-sm .navnav li {
  padding: 0 12px;
  cursor: pointer;
  float: left;
}

.nav-sm .navnav li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav-g-sm .navbar {
  display: inline-flex;
}

.nav-sm .nav-link {
  font-size: 12px;
}

.nav-md {
  padding: 0 8px;
  font-size: 16px;
}

.nav-md .brand {
  padding-right: 0 8px;
  vertical-align: middle;
  display: inline-flex;
}

.nav-md .nav-brand-img {
  width: 34px;
  height: 34px;
}

.nav-md .nav-brand-text {
  font-size: 16px;
  padding: 0 0.5rem;
  line-height: 36px;
  font-weight: bold;
}

.nav-md .btn {
  margin: auto 8px;
}

.nav-md .navnav li {
  padding: 0 16px;
  cursor: pointer;
  float: left;
}

.nav-md .navnav li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav-g-md .navbar {
  display: inline-flex;
}

.nav-md .nav-link {
  font-size: 16px;
}

.nav-lg {
  padding: 0 10px;
  font-size: 20px;
}

.nav-lg .brand {
  padding-right: 0 10px;
  vertical-align: middle;
  display: inline-flex;
}

.nav-lg .nav-brand-img {
  width: 44px;
  height: 44px;
}

.nav-lg .nav-brand-text {
  font-size: 20px;
  padding: 0 0.5rem;
  line-height: 48px;
  font-weight: bold;
}

.nav-lg .btn {
  margin: auto 10px;
}

.nav-lg .navnav li {
  padding: 0 20px;
  cursor: pointer;
  float: left;
}

.nav-lg .navnav li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav-g-lg .navbar {
  display: inline-flex;
}

.nav-lg .nav-link {
  font-size: 20px;
}
