.nav {
  -webkit-box-shadow: 0px 1px 3px -1px black;
  -moz-box-shadow: 0px 1px 3px -1px black;
  box-shadow: 0px 1px 3px -1px black;
  display: inline-table;
  position: relative;
  width: 100%;
  clear: both;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*navbar*/
.nav-sm {
  padding: 6px;
  line-height: 32px;
  height: 32px;
}

.nav-sm .brand {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.nav-sm .nav-brand-img {
  vertical-align: middle;
  margin-right: 6px;
}

.nav-sm .nav-brand-img {
  width: 32px;
  height: 32px;
}

.nav-sm .btn {
  margin: auto 6px;
}

.nav-sm .navnav li {
  padding: 0 12px;
  cursor: pointer;
  float: left;
}

.nav-sm .navnav li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav-g-sm .navbar {
  display: inline-flex;
}

.nav-sm .nav-link,
.nav-sm .nav-link a {
  font-size: 12px;
  text-decoration: none;
}

.nav-md {
  padding: 8px;
  line-height: 50px;
  height: 50px;
}

.nav-md .brand {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.nav-md .nav-brand-img {
  vertical-align: middle;
  margin-right: 8px;
}

.nav-md .nav-brand-img {
  width: 50px;
  height: 50px;
}

.nav-md .btn {
  margin: auto 8px;
}

.nav-md .navnav li {
  padding: 0 16px;
  cursor: pointer;
  float: left;
}

.nav-md .navnav li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav-g-md .navbar {
  display: inline-flex;
}

.nav-md .nav-link,
.nav-md .nav-link a {
  font-size: 16px;
  text-decoration: none;
}

.nav-lg {
  padding: 10px;
  line-height: 66px;
  height: 66px;
}

.nav-lg .brand {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.nav-lg .nav-brand-img {
  vertical-align: middle;
  margin-right: 10px;
}

.nav-lg .nav-brand-img {
  width: 66px;
  height: 66px;
}

.nav-lg .btn {
  margin: auto 10px;
}

.nav-lg .navnav li {
  padding: 0 20px;
  cursor: pointer;
  float: left;
}

.nav-lg .navnav li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav-g-lg .navbar {
  display: inline-flex;
}

.nav-lg .nav-link,
.nav-lg .nav-link a {
  font-size: 20px;
  text-decoration: none;
}
