/*mixin*/
@mixin boxsizing($val)
{
    -webkit-box-sizing: $val;
       -moz-box-sizing: $val;
            box-sizing: $val;
}
@mixin boxshadow($val)
{
    -webkit-box-shadow: $val;
       -moz-box-shadow: $val;
            box-shadow: $val;
}
@mixin borderradius($val)
{
    -webkit-border-radius: $val;
       -moz-border-radius: $val;
            border-radius: $val;
}