.g-1,
.g-2,
.g-3,
.g-4,
.g-5,
.g-6,
.g-7,
.g-8,
.g-9,
.g-10,
.g-11,
.g-12{
    display: inline-block;
    float: left;
}
.g-1{
    width: 8.33%;
}
.g-2{
    width: 16.66%;
}
.g-3{
    width: 25%;
}
.g-4{
    width: 33.33%;
}
.g-5{
    width: 41.66%;
}
.g-6{
    width: 50%;
}
.g-7{
    width: 58.33%;
}
.g-8{
    width: 66.66%;
}
.g-9{
    width: 75%;
}
.g-10{
    width: 83.33%;
}
.g-11{
    width: 91.66%;
}
.g-12{
    width: 100%;
}