@import "../config";
@import "../function";

/* reset css */
*{
  font-family:"Arial";
  margin:0;
  padding:0;
}

a{
    color: #1E88E5;
}

body{
    font-size: 16px;
}

/*heading*/
$headingfont : 3.2rem;

@for $i from 0 through 5{
    h#{$i+1}{
        font-size: $headingfont - 0.4 * $i;
    }
}
hr{
    display: block;
    margin: 1rem 0;
    border-style: solid;
    border-color: #d1d1d1;
}
/*blockquote*/
blockquote{
    display: block;
    width: 100%;
    border-left: 0.4rem solid #212121;
    background: #FAFAFA;
    color: #212121;
    padding: 1.4rem;
}
blockquote > .footer{
    display: block;
    color: #616161;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
/*code and pre*/
code{
    background: #EEEEEE;
    padding: 0 1rem;
    display: inline-block;
    line-height: 2.6rem;
    border-radius: 4px;
  }
  pre > code{
    display: block;
}

/*jumper general*/
@include multiclassnumbered(6, jumper){
    display: block;
}

/*jumper each*/
$jumpermargin: 1rem;
@for $i from 0 through 5{
    .jumper-#{$i+1}{
        margin:$jumpermargin + $i 0;
    }
}

/*instant styling*/
.block{
    display: block;
    width: 100%;
}
.right{
    float: right;
}

/*global background*/
@each $color in $materialcolor {
    $getcolor   : nth($color, 1);
    $colorname  : str-slice($getcolor, 2);
    $getvalue   : nth($color, 2);
    $colorvalue : nth($getvalue, 1);
    .bg-#{nth($colorname, 1)}{
        background: #{$colorvalue};
    }
    .text-#{nth($colorname, 1)},
    .text-#{nth($colorname, 1)} a{
        color: #{$colorvalue};
    }
}