/* reset css */
* {
  font-family: "Arial";
  margin: 0;
  padding: 0;
}

a {
  color: #1E88E5;
}

body {
  font-size: 16px;
}

/*heading*/
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

hr {
  display: block;
  margin: 1rem 0;
  border-style: solid;
  border-color: #d1d1d1;
}

/*blockquote*/
blockquote {
  display: block;
  width: 100%;
  border-left: 0.4rem solid #212121;
  background: #FAFAFA;
  color: #212121;
  padding: 1.4rem;
}

blockquote > .footer {
  display: block;
  color: #616161;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/*code and pre*/
code {
  background: #EEEEEE;
  padding: 0 1rem;
  display: inline-block;
  line-height: 2.6rem;
  border-radius: 4px;
}

pre > code {
  display: block;
}

/*jumper general*/
.jumper-1, .jumper-2, .jumper-3, .jumper-4, .jumper-5, .jumper-6 {
  display: block;
}

/*jumper each*/
.jumper-1 {
  margin: 1rem 0;
}

.jumper-2 {
  margin: 2rem 0;
}

.jumper-3 {
  margin: 3rem 0;
}

.jumper-4 {
  margin: 4rem 0;
}

.jumper-5 {
  margin: 5rem 0;
}

.jumper-6 {
  margin: 6rem 0;
}

/*instant styling*/
.block {
  display: block;
  width: 100%;
}

.right {
  float: right;
}

/*global background*/
.bg-white {
  background: #ffffff;
}

.text-white,
.text-white a {
  color: #ffffff;
}

.bg-dark {
  background: #424242;
}

.text-dark,
.text-dark a {
  color: #424242;
}

.bg-red {
  background: #f44336;
}

.text-red,
.text-red a {
  color: #f44336;
}

.bg-pink {
  background: #e91e63;
}

.text-pink,
.text-pink a {
  color: #e91e63;
}

.bg-purple {
  background: #9c27b0;
}

.text-purple,
.text-purple a {
  color: #9c27b0;
}

.bg-deep-purple {
  background: #673AB7;
}

.text-deep-purple,
.text-deep-purple a {
  color: #673AB7;
}

.bg-indigo {
  background: #3F51B5;
}

.text-indigo,
.text-indigo a {
  color: #3F51B5;
}

.bg-blue {
  background: #2196F3;
}

.text-blue,
.text-blue a {
  color: #2196F3;
}

.bg-light-blue {
  background: #03A9F4;
}

.text-light-blue,
.text-light-blue a {
  color: #03A9F4;
}

.bg-cyan {
  background: #00BCD4;
}

.text-cyan,
.text-cyan a {
  color: #00BCD4;
}

.bg-teal {
  background: #009688;
}

.text-teal,
.text-teal a {
  color: #009688;
}

.bg-green {
  background: #4CAF50;
}

.text-green,
.text-green a {
  color: #4CAF50;
}

.bg-light-green {
  background: #8BC34A;
}

.text-light-green,
.text-light-green a {
  color: #8BC34A;
}

.bg-lime {
  background: #CDDC39;
}

.text-lime,
.text-lime a {
  color: #CDDC39;
}

.bg-yellow {
  background: #FFEB3B;
}

.text-yellow,
.text-yellow a {
  color: #FFEB3B;
}

.bg-amber {
  background: #FFC107;
}

.text-amber,
.text-amber a {
  color: #FFC107;
}

.bg-orange {
  background: #FF9800;
}

.text-orange,
.text-orange a {
  color: #FF9800;
}

.bg-deep-orange {
  background: #FF5722;
}

.text-deep-orange,
.text-deep-orange a {
  color: #FF5722;
}

.bg-brown {
  background: #795548;
}

.text-brown,
.text-brown a {
  color: #795548;
}

.bg-grey {
  background: #9E9E9E;
}

.text-grey,
.text-grey a {
  color: #9E9E9E;
}

.bg-blue-grey {
  background: #607D8B;
}

.text-blue-grey,
.text-blue-grey a {
  color: #607D8B;
}
