/* reset css */
* {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/*heading*/
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

hr {
  display: block;
  margin: 1rem 0;
  border-style: solid;
  border-color: #d1d1d1;
}

/*blockquote*/
blockquote {
  display: block;
  width: 100%;
  border-left: 0.4rem solid #212121;
  background: #FAFAFA;
  color: #212121;
  padding: 1.4rem;
}

blockquote > .footer {
  display: block;
  color: #616161;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/*jumper general*/
.jumper-1, .jumper-2, .jumper-3, .jumper-4, .jumper-5, .jumper-6 {
  display: block;
}

/*jumper each*/
.jumper-1 {
  margin: 1rem 0;
}

.jumper-2 {
  margin: 2rem 0;
}

.jumper-3 {
  margin: 3rem 0;
}

.jumper-4 {
  margin: 4rem 0;
}

.jumper-5 {
  margin: 5rem 0;
}

.jumper-6 {
  margin: 6rem 0;
}

/*instant styling*/
.block {
  display: block;
  width: 100%;
}

.right {
  float: right;
}

/*global background*/
.bg-white {
  background: #ffffff;
}

.bg-dark {
  background: #424242;
}

.bg-red {
  background: #f44336;
}

.bg-pink {
  background: #e91e63;
}

.bg-purple {
  background: #9c27b0;
}

.bg-deep-purple {
  background: #673AB7;
}

.bg-indigo {
  background: #3F51B5;
}

.bg-blue {
  background: #2196F3;
}

.bg-light-blue {
  background: #03A9F4;
}

.bg-cyan {
  background: #00BCD4;
}

.bg-teal {
  background: #009688;
}

.bg-green {
  background: #4CAF50;
}

.bg-lightgreen {
  background: #8BC34A;
}

.bg-lime {
  background: #CDDC39;
}

.bg-yellow {
  background: #FFEB3B;
}

.bg-amber {
  background: #FFC107;
}

.bg-orange {
  background: #FF9800;
}

.bg-deeporange {
  background: #FF5722;
}

.bg-brown {
  background: #795548;
}

.bg-grey {
  background: #9E9E9E;
}

.bg-bluegrey {
  background: #607D8B;
}

/*global text color*/
.text-white {
  color: #ffffff;
}

.text-dark {
  color: #424242;
}

.text-red {
  color: #f44336;
}

.text-pink {
  color: #e91e63;
}

.text-purple {
  color: #9c27b0;
}

.text-deep-purple {
  color: #673AB7;
}

.text-indigo {
  color: #3F51B5;
}

.text-blue {
  color: #2196F3;
}

.text-light-blue {
  color: #03A9F4;
}

.text-cyan {
  color: #00BCD4;
}

.text-teal {
  color: #009688;
}

.text-green {
  color: #4CAF50;
}

.text-lightgreen {
  color: #8BC34A;
}

.text-lime {
  color: #CDDC39;
}

.text-yellow {
  color: #FFEB3B;
}

.text-amber {
  color: #FFC107;
}

.text-orange {
  color: #FF9800;
}

.text-deeporange {
  color: #FF5722;
}

.text-brown {
  color: #795548;
}

.text-grey {
  color: #9E9E9E;
}

.text-bluegrey {
  color: #607D8B;
}
