/* reset css */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
blockquote,
button,
code,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
nav,
input,
pre > code,
table {
  margin: 0;
  padding: 0;
}

a {
  color: #1E88E5;
}

a.btn {
  text-decoration: none;
}

body {
  font-size: 16px;
}

/*blockquote*/
blockquote {
  display: block;
  width: 100%;
  border-left: 0.4rem solid #212121;
  background: #FAFAFA;
  color: #212121;
  padding: 1.4rem;
}

blockquote > .footer {
  display: block;
  color: #616161;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/*code and pre*/
code,
pre > code {
  font-family: Courier New, Courier, monospace;
  background: #EEEEEE;
  border-radius: 4px;
}

code {
  padding: 0 0.3rem;
  line-height: 1.4rem;
  display: inline-block;
}

pre > code {
  overflow: auto;
  padding: 1rem 1.4rem;
  display: block;
}

ul,
ol {
  padding: 0 1.6rem;
}

/*heading*/
h1, h2, h3, h4, h5, h6 {
  display: block;
  font-weight: 500;
  line-height: 110%;
}

h1 {
  font-size: 4.3rem;
  margin: 2.1rem 0;
}

h2 {
  font-size: 3.64rem;
  margin: 1.8rem 0;
}

h3 {
  font-size: 2.98rem;
  margin: 1.5rem 0;
}

h4 {
  font-size: 2.32rem;
  margin: 1.2rem 0;
}

h5 {
  font-size: 1.66rem;
  margin: 0.9rem 0;
}

h6 {
  font-size: 1rem;
  margin: 0.6rem 0;
}

hr {
  display: block;
  margin: 1rem 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
}

/*jumper general*/
.mb-1, .mb-2, .mb-3, .mb-4, .mb-5, .mb-6, .mt-1, .mt-2, .mt-3, .mt-4, .mt-5, .mt-6 {
  display: block;
}

/*jumper each*/
.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

/*instant styling*/
.block {
  display: block;
  width: 100%;
}

/*text align center*/
.center {
  text-align: center;
}

/*float right*/
.right {
  float: right;
}

/*static component, disable user-select and mouse-over*/
.static {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*global background*/
.bg-white {
  background: #ffffff;
}

.text-white,
.text-white a {
  color: #ffffff;
}

.bg-dark {
  background: #424242;
}

.text-dark,
.text-dark a {
  color: #424242;
}

.bg-red {
  background: #f44336;
}

.text-red,
.text-red a {
  color: #f44336;
}

.bg-pink {
  background: #e91e63;
}

.text-pink,
.text-pink a {
  color: #e91e63;
}

.bg-purple {
  background: #9c27b0;
}

.text-purple,
.text-purple a {
  color: #9c27b0;
}

.bg-deep-purple {
  background: #673AB7;
}

.text-deep-purple,
.text-deep-purple a {
  color: #673AB7;
}

.bg-indigo {
  background: #3F51B5;
}

.text-indigo,
.text-indigo a {
  color: #3F51B5;
}

.bg-blue {
  background: #2196F3;
}

.text-blue,
.text-blue a {
  color: #2196F3;
}

.bg-light-blue {
  background: #03A9F4;
}

.text-light-blue,
.text-light-blue a {
  color: #03A9F4;
}

.bg-cyan {
  background: #00BCD4;
}

.text-cyan,
.text-cyan a {
  color: #00BCD4;
}

.bg-teal {
  background: #009688;
}

.text-teal,
.text-teal a {
  color: #009688;
}

.bg-green {
  background: #4CAF50;
}

.text-green,
.text-green a {
  color: #4CAF50;
}

.bg-light-green {
  background: #8BC34A;
}

.text-light-green,
.text-light-green a {
  color: #8BC34A;
}

.bg-lime {
  background: #CDDC39;
}

.text-lime,
.text-lime a {
  color: #CDDC39;
}

.bg-yellow {
  background: #FFEB3B;
}

.text-yellow,
.text-yellow a {
  color: #FFEB3B;
}

.bg-amber {
  background: #FFC107;
}

.text-amber,
.text-amber a {
  color: #FFC107;
}

.bg-orange {
  background: #FF9800;
}

.text-orange,
.text-orange a {
  color: #FF9800;
}

.bg-deep-orange {
  background: #FF5722;
}

.text-deep-orange,
.text-deep-orange a {
  color: #FF5722;
}

.bg-brown {
  background: #795548;
}

.text-brown,
.text-brown a {
  color: #795548;
}

.bg-grey {
  background: #9E9E9E;
}

.text-grey,
.text-grey a {
  color: #9E9E9E;
}

.bg-blue-grey {
  background: #607D8B;
}

.text-blue-grey,
.text-blue-grey a {
  color: #607D8B;
}

/*global font size*/
.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 22px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0.5rem;
}

.container {
  padding: 0.1rem 110px;
}

.container-fluid {
  padding: 0.1rem 55px;
}
