/*extra large view*/
@media (min-width: 1200px){
  /*component - navigation*/
  .nav-g-xl .right{
    float:none;
  }
  .nav-g-xl .nav-item{
    display:block;
    border:0;
  }
  .nav-g-xl .navnav li{
    float:none;
    display:block;
  }
}
/*large view*/
@media(min-width: 992px){
 /*component - navigation*/
  .nav-g-lg .right{
    float:none;
  }
  .nav-g-lg .nav-item{
    display:block;
    border:0;
  }
  .nav-g-lg .navnav li{
    float:none;
    display:block;
  }
  /*style - grid*/
  .g-lg-1,
  .g-lg-2,
  .g-lg-3,
  .g-lg-4,
  .g-lg-5,
  .g-lg-6,
  .g-lg-7,
  .g-lg-8,
  .g-lg-9,
  .g-lg-10,
  .g-lg-11,
  .g-lg-12{
    display: block;
    width: 100%;
  }
}
/*medium view*/
@media(max-width:768px){
  /*component - navigation*/
  .nav-g-md .right{
    float:none;
  }
  .nav-g-md .nav-item{
    display:block;
    border:0;
  }
  .nav-g-md .navnav li{
    float:none;
    display:block;
  }
  /*style - grid*/
  .g-md-1,
  .g-md-2,
  .g-md-3,
  .g-md-4,
  .g-md-5,
  .g-md-6,
  .g-md-7,
  .g-md-8,
  .g-md-9,
  .g-md-10,
  .g-md-11,
  .g-md-12{
    display: block;
    width: 100%;
  }
}

/*small view*/
@media(max-width:576px){
  /*component - navigation*/
  .nav-g-sm .right{
    float:none;
  }
  .nav-g-sm .nav-item{
    display:block;
    border:0;
  }
  .nav-g-sm .navnav li{
    float:none;
    display:block;
  }
  /*style - grid*/
  .g-sm-1,
  .g-sm-2,
  .g-sm-3,
  .g-sm-4,
  .g-sm-5,
  .g-sm-6,
  .g-sm-7,
  .g-sm-8,
  .g-sm-9,
  .g-sm-10,
  .g-sm-11,
  .g-sm-12{
    display: block;
    width: 100%;
  }
}