@import "../config";
@import "../function";

.alert{
    @include boxshadow(0px 1px 4px -1px rgba(0,0,0,1));
    position: relative;
    display:block;
}
@each $a in $size
{
    $alertsize  : nth($a, 1);
    $alertval   : nth($a, 2);
    .alert.alert-#{$alertsize}
    {
        line-height: nth($alertval, 3);
        padding: 0 nth($alertval, 1);
        font-size: nth($alertval, 1);
    }
    .alert.alert-#{$alertsize} > .alert-close{
        @include userselect(none);
        position: absolute;
        right: 0;
        font-size: nth($alertval, 1)*1.5;
        display: inline-block;
        cursor: pointer;
        padding: 0 nth($alertval, 1);
    }
    .alert.alert-#{$alertsize} > .alert-close:hover{
        background: rgba(255,255,255, 0.1);
    }
}