@mixin boxshadow($val)
{
    -webkit-box-shadow: $val;
       -moz-box-shadow: $val;
            box-shadow: $val;
}
@mixin borderradius($val)
{
    -webkit-border-radius: $val;
       -moz-border-radius: $val;
            border-radius: $val;
}
/*global button*/
.btn{
    display: inline-block;
    margin:2px;
    border:0;
    cursor: pointer;
    @include boxshadow(0px 1px 4px -1px rgba(0,0,0,1));
}
.btn:focus{
    outline: none !important;
}
.btn:active{
    @include boxshadow(0px 2px 6px -1px rgba(0,0,0,1));
}
/*button size*/
$small      : 12px;
$medium     : 16px;
$large      : 20px;

$hsmall     : 30px;
$hmedium    : 36px;
$hlarge     : 42px;

.btn-sm{
    padding:0 $small;
    font-size: $small;
    height: $hsmall;
    line-height: $hsmall;
}
.btn-md{
    padding:0 $medium;
    font-size: $medium;
    height: $hmedium;
    line-height: $hmedium;
}
.btn-lg{
    padding:0 $large;
    font-size: $large;
    height: $hlarge;
    line-height: $hlarge;
}
/*button group*/
.btn-group .btn{
    margin:0;
}
/*button style*/
.btn-blunt{
    @include borderradius(5px);
}
.btn-rounded{
    @include borderradius(20px);
}
/*button group with style*/
.btn-group.btn-blunt .btn:first-child{
    @include borderradius(5px 0 0 5px);
}
.btn-group.btn-blunt .btn:last-child{
    @include borderradius(0 5px 5px 0);
}
.btn-group.btn-rounded .btn:first-child{
    @include borderradius(20px 0 0 20px);
}
.btn-group.btn-rounded .btn:last-child{
    @include borderradius(0 20px 20px 0);
}
/*button block*/
.btn.block{
    margin:2px 0;
}

$buttoneffect : (
    mwhite          (#EEEEEE,#E0E0E0),
    mdark           (#212121,black),
    mred            (#E53935,#D32F2F),
    mpink           (#D81B60,#C2185B),
    mpurple         (#8E24AA,#7B1FA2),
    mdeep-purple    (#5E35B1,#512DA8),
    mindigo         (#3F51B5,#303F9F),
    mblue           (#1E88E5,#1976D2),
    mlight-blue     (#039BE5,#0288D1),
    mcyan           (#00ACC1,#0097A7),
    mteal           (#00897B,#00796B),
    mgreen          (#43A047,#388E3C),
    mlight-green    (#7CB342,#689F38),
    mlime           (#C0CA33,#AFB42B),
    myellow         (#FDD835,#FBC02D),
    mamber          (#FFB300,#FFA000),
    morange         (#FB8C00,#F57C00),
    mdeep-orange    (#F4511E,#E64A19),
    mbrown          (#6D4C41,#5D4037),
    mgrey           (#757575,#616161),
    mblue-grey      (#546E7A,#455A64)
);
@each $btn in $buttoneffect
{
    $name   : nth($btn, 1);
    $name   : str-slice($name, 2);
    $color  : nth($btn, 2);
    .btn.bg-#{$name}:hover
    {
        background: nth($color, 1);
    }
    .btn.bg-#{$name}:active
    {
        background: nth($color, 2);
    }
}