@import "../config";
@import "../function";

.form-sm{
    font-size: $el_small;
}
.form-md{
    font-size: $el_medium;
}
.form-lg{
    font-size: $el_large;
}
.form-wrap{
    padding: 0.4rem;
}
label.form{
    font-weight: bold;
}
input[type='text'].form,
select.form,
textarea.form{
    @include borderradius(4px);
    border: 1px solid #d1d1d1;
    box-shadow: none;
    padding: 0 0.5rem;
}
input[type='text'].form.form-sm,
select.form.form-sm{
    height: 1.6rem;
}
input[type='text'].form.form-md,
select.form.form-md{
    height: 2.0rem;
}
input[type='text'].form.form-lg,
select.form.form-lg{
    height: 2.2rem;
}

input[type='radio'].form,
input[type='checkbox'].form{
    position: relative;
    margin-right:1rem;
}
input[type='radio'].form::before,
input[type='checkbox'].form::before{
    border: 1px solid #d1d1d1;
    display: inline-block;
    background:white;
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    content: '';
    left: -0.1rem;
    top:-0.1rem;
}
input[type='radio'].form::before{
    @include borderradius(100%);
}
input[type='checkbox'].form::before{
    @include borderradius(4px);
}
input[type='radio'].form:hover::before,
input[type='checkbox'].form:hover::before{
    border: 1px solid #2196F3;
}
input[type='radio'].form:checked::before,
input[type='checkbox'].form:checked::before{
    background: #2196F3;
}
textarea.form{
    height: 6rem;
}