@import "../config";

.nav{
    position: relative;
    display: table;
    width: 100%;
    clear: both;
    box-sizing: border-box;
}
.navbar{
    list-style:none;
}
.right{
    float: right;
}
/*navbar*/
$n : 0;
@each $c in $size
{
    $nsize : nth($c, 1);//sm, md, lg
    $val  : nth($c, 2);

    .nav-#{$nsize}{
        padding: 0 nth($val, 1)/2;
    }
    .nav-#{$nsize} .brand{
        display: inline-flex;
        vertical-align: middle;
    }
    .nav-#{$nsize} .navnav li{
        float: left;
        padding: 0 nth($val, 1)/2;
    }
    .nav-g-#{$nsize} .navbar
    {
        display: inline-flex;
    }
    .nav-#{$nsize}
    {
        font-size: nth($val, 1);
        min-height: nth($val, 3);
    }
    .nav-#{$nsize} .nav-item
    {
        line-height: nth($val, 3);
        height: nth($val, 3);
    }
    .nav-#{$nsize} .nav-link
    {
        font-size: nth($val, 1);
    }
    .nav-#{$nsize} .nav-brand-img
    {
        $valimg : nth($val, 3) - (14 + ($n * 2));
        width: $valimg;
        height: $valimg;
    }
    .nav-#{$nsize} .nav-brand-text
    {
        font-size: nth($val, 1);
        padding: 0 0.5rem;
        line-height: nth($val, 3) - 14;
        font-weight: bold;
    }
    $n : $n + 1;
}