.btn{
  padding:0 14px;
  margin:2px;
  height:38px;
  font-size:16px;
  border:0;
  float:left;
}
.btn-sm{
  padding:0 10px;
  font-size:14px;
  height:32px;
}
.btn-md{
  padding:0 14px;
  font-size:16px;
  height:38px;
}
.btn-lg{
  padding:0 20px;
  font-size:20px;
  height:44px;
}
.btn-group .btn{
  margin:0;
}

.btn-blunt{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-rounded{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.btn-group.btn-blunt .btn:first-child{
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.btn-group.btn-blunt .btn:last-child{
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.btn-group.btn-rounded .btn:first-child{
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.btn-group.btn-rounded .btn:last-child{
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
.btn.bg-clouds:hover{
  background:#e0e4e5;
}
.btn.bg-clouds:active{
  background:#d6dadb;
}
.btn.bg-slab:hover{
  background:#768182;
}
.btn.bg-slab:active{
  background:#6d7777;
}
.btn.bg-burn:hover{
  background:#db4639;
}
.btn.bg-burn:active{
  background:#d14336;
}
.btn.bg-green:hover{
  background:#25a359;
}
.btn.bg-green:active{
  background:#239954;
}
.btn.bg-sky:hover{
  background:#277aad;
}
.btn.bg-sky:active{
  background:#2573a3;
}
.btn-block{
  display:block;
  width:100%;
  margin:2px 0;
}