/*global button*/
.btn{
  margin:2px;
  border:0;
  float:left;
}
/*button size*/
.btn-sm{
  padding:0 14px;
  font-size:14px;
  height:32px;
}
.btn-md{
  padding:0 18px;
  font-size:16px;
  height:38px;
}
.btn-lg{
  padding:0 20px;
  font-size:20px;
  height:44px;
}
/*button group*/
.btn-group .btn{
  margin:0;
}
/*button style*/
.btn-blunt{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-rounded{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/*button group with style*/
.btn-group.btn-blunt .btn:first-child{
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.btn-group.btn-blunt .btn:last-child{
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.btn-group.btn-rounded .btn:first-child{
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.btn-group.btn-rounded .btn:last-child{
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
/*button block*/
.btn-block{
  display:block;
  width:100%;
  margin:2px 0;
}
/*background*/
.btn.bg-white:hover{
  background:#EEEEEE;
}
.btn.bg-white:active{
  background:#E0E0E0; 
}
.btn.bg-black:hover{
  background:#212121;
}
.btn.bg-black:active{
  background: black;
}