/*extra large view*/
@media (min-width: 1200px){ 
  .nav-xl .right{
    float:none;
  }
  .nav-xl .nav-item{
    display:block;
    border:0;
  }
  .nav-xl .navnav li{
    float:none;
    display:block;
  }
}
/*large view*/
@media(min-width: 992px){
  .nav-lg .right{
    float:none;
  }
  .nav-lg .nav-item{
    display:block;
    border:0;
  }
  .nav-lg .navnav li{
    float:none;
    display:block;
  }
}
/*medium view*/
@media(max-width:768px){
  .nav-md .right{
    float:none;
  }
  .nav-md .nav-item{
    display:block;
    border:0;
  }
  .nav-md .navnav li{
    float:none;
    display:block;
  }
}

/*small view*/
@media(max-width:576px){
  .nav-sm .right{
    float:none;
  }
  .nav-sm .nav-item{
    display:block;
    border:0;
  }
  .nav-sm .navnav li{
    float:none;
    display:block;
  }
}