.nav{
  position:relative;
  display: table;
  width:100%;
  clear:both;
}
.navbar{
  list-style:none;
  margin:0;
  padding:0;
}
.navnav li{
  float:left;
}
.right{
  float:right;
}
.nav-item{
  line-height:40px;
  height:40px;
  float:left;
  padding: 0 10px;
  color:#74777a;
}
.nav.text-white li{
  color: white;
}
/*navbar size*/
.nav-sm{
  min-height: 35px;
  font-size: 12px;
}
.nav-sm .nav-item{
  line-height: 35px;
}
.nav-md{
  min-height: 42px;
  font-size: 14px;
}
.nav-md .nav-item{
  line-height: 42px;
}
.nav-lg{
  min-height: 50px;
  font-size: 16px;
}
.nav-lg .nav-item{
  line-height: 50px;
}