.nav{
  position:relative;
  display:block;
  border: 1px solid #bdc3c7;
  width:100%;
  min-height:40px;
  background:#ecf0f1;
}
.navbar{
  list-style:none;
  margin:0;
  padding:0;
}
.navnav li{
  float:left;
}
.right{
  float:right;
}
.nav-item{
  line-height:40px;
  height:40px;
  float:left;
  padding: 0 10px;
  border-right:1px solid #bdc3c7;
  color:#74777a;
}
.navbar.right{
  border-left:1px solid #bdc3c7;
}
.nav-item:hover{
  background:#bdc3c7;
  color:434547;
}
/*medium view*/
@media(max-width:768px){
  .nav-md .right{
    float:none;
  }
  .nav-md .nav-item{
    display:block;
    border:0;
  }
  .nav-md .navnav li{
    float:none;
    display:block;
  }
}

/*small view*/
@media(max-width:576px){
  .nav-sm .right{
    float:none;
  }
  .nav-sm .nav-item{
    display:block;
    border:0;
  }
  .nav-sm .navnav li{
    float:none;
    display:block;
  }
}