.nav{
  position:relative;
  display:block;
  width:100%;
  min-height:40px;
}
.navbar{
  list-style:none;
  margin:0;
  padding:0;
}
.navnav li{
  float:left;
}
.right{
  float:right;
}
.nav-item{
  line-height:40px;
  height:40px;
  float:left;
  padding: 0 10px;
  color:#74777a;
}
.nav.text-white li{
  color: white;
}