.table{
  border-collapse: collapse;
}
.table th,
.table td{
  padding: 0 10px;
}
.table thead th{
  border-bottom: 2px solid #EEEEEE;
}
.table.row-border th,
.table.row-border td{
  border-top:1px solid #EEEEEE;
}
/*table size*/
.table.table-md{
  line-height: 40px;
  font-size: 16px;
}
.table.table-sm{
  line-height: 30px;
  font-size: 14px;  
}